[Defaults]
Aircraft     = Aircraft/Laminar Research/Cessna 172 SP/Cessna_172SP.acf
AircraftType = airplane ; airplane | helicopter | balloon
Timezone     = 5        ; CSV files record times in Local Time
TimezoneKML  = 0        ; KML files record times in UTC
;OutPath      = .
;inferRoute

DREF sim/cockpit2/gauges/indicators/airspeed_kts_pilot = round({Speed}, 4), 1.0, IAS
DREF sim/cockpit2/gauges/indicators/altitude_ft_pilot = round({ALTMSL}, 4), 1.0, Altimeter
DREF sim/cockpit2/gauges/indicators/compass_heading_deg_mag = round({HEADING}, 3), 1.0, Compass


[Aircraft/AeroSphere Piper Warrior/PiperWarrior/PiperWarrior.acf]
;AircraftType = airplane ; airplane | helicopter | balloon
Tails = N123ND, N321ND

DREF sim/cockpit2/gauges/indicators/heading_vacuum_deg_mag_pilot = round({HEADING}, 3), 1.0, Vacuum Heading
DREF sim/cockpit2/gauges/indicators/pitch_vacuum_deg_pilot = round({PITCH}, 3), 1.0, Vacuum Pitch
DREF sim/cockpit2/gauges/indicators/roll_vacuum_deg_pilot = round({ROLL}, 3), 1.0, Vacuum Roll
DREF sim/cockpit2/gauges/actuators/barometer_setting_in_hg_pilot = 29.92, 1.0, Barometer


[Tail N123ND]
headingTrim = 0.0
pitchTrim   = 0.0
rollTrim    = 0.0

; Legacy tail sections are still supported:
;[N123ND]
;headingTrim = 0.0
;pitchTrim   = 0.0
;rollTrim    = 0.0


[AirfieldDB]
;enabled = false
MaxAgeDays = 120
;Path = ./OurAirports.csv
;DefaultVisitRadius = 1.0
;LargeAirportVisitRadius = 2.0
;MediumAirportVisitRadius = 1.0
;SmallAirportVisitRadius = 0.75
;SeaplaneBaseVisitRadius = 1.0
;HeliportVisitRadius = 0.05
;BalloonportVisitRadius = 0.25


[Waypoint KBED]
offset = 0.0, 0.0, -5.0
lat = 42.470001
lon = -71.289001


; innerRadiusNm and outerRadiusNm will default to 2NM and 6NM if not supplied
[Waypoint KBOS]
offset = 0.0, 0.0, -5.5
lat = 42.361970
lon = -71.007900
innerRadiusNm = 2.5
outerRadiusNm = 6.5


; When AirfieldDB is enabled (or when --airfieldDB / --airfieldDBPath is used),
; lat/lon can be omitted and resolved automatically
[Waypoint KORH]
offset = 0.0, 0.0, 3


; Use hideFromRoute = true to keep a waypoint out of the derived route summary
; Include offset if you still want track correction
[Waypoint 8MA4]
hideFromRoute = true
;offset = 0, 0, -5
